#block-user-login{
	background:#121214;
	padding:6px;
}
#block-user-login h2{
	color:#FFF;
	text-align:center;
	border:1px solid  #777777;
	padding:6px 0px 6px 0px;
	display:none;
}
#block-user-login label{
	color: #777777;
	font-size:1em;
}
#block-user-login input{
	width:100%;
	border-radius:6px;
}

#block-user-login #edit-submit{
	background:#121214;
	width:90%;
	border:1px solid #FFF;
}

#block-menu-menu-application-menu{
	background:#121214;
	padding:16px 3px 16px 3px;
	
}
.nolink{
   color:#FFF;
	font-size: 1.2em;
	margin-bottom: 14px;
	line-height: 27px;
	font-family: "Open Sans", Arial, sans-serif;
}
#block-menu-menu-application-menu ul li a{
	color: #777777;
	font-family: "Open Sans", Arial, sans-serif;
	
}

.profile-photo i{
	background:#121214;
	border:1px solid #121214;
	color:#FFF;
	font-size: 1.2em;
	padding:12px;
	width:100%;
	display:block;
}
.profile-photo img{
	border:1px solid #121214;
	color:#FFF;
	padding:12px;
	width:100%;
	display:block;
}
#node-121 .field-name-field-image{
	border:1px solid #e1e1e1;
	display:block;
	text-align:center;
}
#node-121 img{
	
	padding:6px 2px 6px 2px;
	color:#FFF;
}